<div class="card text-center" id="account">
  <h5 class="card-header">Your Account</h5>
  <div class="card-body">
    <h2>Name</h2>
    <div class="name">{{user.firstname}} {{user.lastname}}</div>
    <h2>Username</h2>
    <div class="username">{{user.username}}</div>
    <h2>Highscore</h2>
    <div class="highscore">{{user.highscore}}</div>
    <h2>All Scores</h2>
    <div class="highscore">{{user.score}}</div>
  </div>
</div>