<div class="card text-center" id="account">
  <h5 class="card-header">Your Account</h5>
  <div class="card-body">
    <h2>Name</h2>
    <div class="name">{{first_name}} {{last_name}}</div>
    <h2>Username</h2>
    <div class="username">{{username}}</div>
    <h2>Highscore</h2>
    <div class="highscore">{{#each scores as |score|}}
      {{score}}
      {{/each}}</div>
    <h2>All Scores</h2>
    <div class="highscore">{{user_score}}</div>
  </div>
</div>
<div>